<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<style type="text/css">
body,td,th {
	color: #000;
}
body {
	background-color: #FFF;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table width="955" border="0">
  <tr>
    <td width="949"><div align="center">
      <p><strong><img src="Sin título-1 png.png" width="69" height="63" alt="log" /></strong><strong> UNIVERSIDAD NACIONAL EXPERIMENTAL SUR DEL LAGO</strong></p>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <p><strong>SECRETARIA GENERAL</strong></p>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <p><strong>COORDINACION DE TRANSPORTE</strong></p>
    </div></td>
  </tr>
  <tr>
    <td height="21"><div align="center">
      <p><strong>SOLICITUD DE VEHICULOS</strong></p>
    </div></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="953" height="131" border="1">
  <tr>
    <td width="272"><strong>N°:</strong></td>
    <td width="665"><strong> Fecha</strong>:</td>
  </tr>
  <tr>
    <td><strong>Unidad Organizativa Solicitante:</strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Recorrido del viaje</strong>:</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="953" border="1">
  <tr>
    <td width="415"><div align="center"><strong>SALIDA</strong></div></td>
    <td width="509"><div align="center"><strong>RETORNO</strong></div></td>
  </tr>
  <tr>
    <td><strong>Lugar:</strong></td>
    <td><strong>Lugar:</strong></td>
  </tr>
  <tr>
    <td><strong>Fecha:</strong></td>
    <td><strong>Fecha:</strong></td>
  </tr>
  <tr>
    <td><strong>Hora:</strong></td>
    <td><strong>Hora:</strong></td>
  </tr>
</table>
<table width="953" border="1">
  <tr>
    <td width="202"><strong>Nº de personas a transportar:</strong></td>
    <td width="735">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Motivo del viaje:</strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Responsable del viaje</strong>:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Aprobada: ( )</strong></td>
    <td><strong> Justificar:</strong></td>
  </tr>
  <tr>
    <td><strong>Rechazada:( )</strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Choferes designados:</strong></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p> </p>
<table width="883" border="0">
  <tr>
    <td width="406"><div align="center"><strong>Sello y firma de la Unidad  solicitante&nbsp;</strong></div></td>
    <td width="467"><div align="center"><strong> Sello y firma Coord.  Transporte&nbsp;</strong></div></td>
  </tr>
</table>
<p align="center"><strong>&nbsp;</strong></p>
<p align="center">Av. Universidad, Campus Universitario,  Hacienda La Glorieta. Santa Bárbara, Estado Zulia<br />
  Teléfonos: (0275)555.10.36/555.2832  Ext. 203 - 204<br />
www.unesur.edu.ve</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
